---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/testimonial/
---
{% include separators/separator.html text="testimonial-1" %}
{% include testimonial/testimonial-1.html data=site.data.mocks.testimonial.testimonial-1 %}
{% include separators/separator.html text="testimonial-2" %}
{% include testimonial/testimonial-2.html data=site.data.mocks.testimonial.testimonial-2 %}
{% include separators/separator.html text="testimonial-3" %}
{% include testimonial/testimonial-3.html data=site.data.mocks.testimonial.testimonial-3 %}