<div class="projects-3" data-background-color="{{include.data.background-color}}"  {% if include.data.id %}id="{{include.data.id}}"{% endif %}>
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <div class="h6 category text-muted">{{include.data.subtitle}}</div>
              <h2 class="title">{{include.data.title}}</h2>
            </div>
          </div>
          {% for item in include.data.items %}
          <div class="section-story-overview">
            <div class="row">
              <div class="col-md-6">
                <div class="image-container image-left" data-bg-style="{{item.image-left}}">
                  <!-- First image on the left side -->
                  <p class="blockquote blockquote-primary">{{item.quote}}
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <!-- First image on the right side, above the article -->
                <div class="image-container image-right" data-bg-style="{{item.image-right}}">
                </div>
                <div class="h6 category text-primary">{{item.subtitle}}</div>
                <div class="h4 card-title">{{item.title}}</div>
                <p>
                  {{item.description}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>