.services-1, .services-2{
    &-block{
        min-height: 350px;
        height: 100%;
        &.-vertical-center{
            flex-direction: column;
            justify-content: center;
            display: flex;
        }
    }
    .description{
        font-weight: 400;
        font-size: 14px;
        color: $black-color;
    }
    [class^="col-"]{
        border: 1px solid $light-gray;
        padding-right: 0;
        padding-left: 0;
    }
    .now-ui-icons{
        font-size: $btn-icon-size-regular;
    }
}
.services-3{
    .service{
        &-wrapper{
            min-height: 230px;
        }

    }
    &_content{
        z-index: 2;
        margin-top: auto;
    }
    a{
        text-decoration: none;
    }
}