      <!--     *********     HEADER 1      *********      -->
      <div class="header-1 {{include.data.class}}"  {% if include.data.id %}id="{{ include.data.id}}"{% endif %}>
            <div class="page-header{% if include.data.filter %} header-filter{% endif %}">
              <div class="page-header-image" data-bg-style="{{ include.data.background-image}}"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-7{% if include.data.content-align =='right' %} ml-auto text-right{% endif %}{% if include.data.content-align =='center' %} mx-auto text-center{% endif %}{% if include.data.content-align == 'left' %} mr-auto text-left{% endif %}">
                    <h1 class="{{ include.data.title-class}}">{{ include.data.title}}</h1>
                    <div class="{{ include.data.description-class}}">{{ include.data.subtitle}}</div>
                    <br />
                    <div class="buttons{% if include.data.content-align =='right' %} text-right{% endif %}{% if include.data.content-align =='center' %} text-center{% endif %}{% if include.data.content-align == 'left' %} text-left{% endif %}">
                      {% if include.data.social %}
                      <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                        <i class="fab fa-get-pocket"></i>
                      </a>
                      {% endif %}
                      {% if include.data.button %}
                      <a href="{{ include.data.button.href }}" class="{{ include.data.button.class }}">
                       {{ include.data.button.text }}
                      </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!--     *********    END HEADER 1      *********      -->