<div class="header-2"  {% if data.id}}id="{{data.id}}"{% endif %}>
    <div class="page-header header-filter">
        <div class="page-header-image" data-bg-style="{{data.background-image}}"></div>
        <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
            <h1 class="title">{{data.title}}</h1>
            <div class="h4 description">{{data.subtitle}}</div>
            </div>
            <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-raised card-form-horizontal card-plain" data-background-color>
                <div class="card-body">
                <form method="" action="">
                    <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                        <input type="text" value="" placeholder="Full Name" class="form-control" autocomplete="family-name" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                        <input type="email" placeholder="Your Email" class="form-control" autocomplete="email" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" autocomplete="current-password" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary btn-round btn-block">Join Us</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>