<div class="subscribe-line subscribe-line-image {% if include.data.filte==false %}no-filter{% endif %}" data-bg-style="{{ include.data.background-image}}"{% if include.data.id %} id="{{ include.data.id}}"{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="text-center">
            <h2 class="h4 title {{title-class}}">{{ include.data.title}}</h2>
            <p class="description {{description-class}}">
              {{ include.data.description}}
            </p>
          </div>
          <div class="card card-raised card-form-horizontal">
            <div class="card-body">
              <form method="" action="">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                      </div>
                      <input type="email" class="form-control" placeholder="{{ include.data.email.placeholder }}">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="{{ include.data.button.class}}">{{ include.data.button.text}}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>