<div class="subscribe-line subscribe-line-image {% ifequal data.filter false}}no-filter{{/ifequal}} {{data.section-class}}  {% if data.id}}id="{{data.id}}"{% endif %}"
data-bg-style="{{data.background-image}}">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="h4 title {{data.title-class}}">{{data.title}}</h2>
      </div>
      <div class="col-md-5">
        <p class="description {{data.description-class}}">{{{data.description}}}</p>
      </div>
      <div class="col-md-3">
        <div class="{{data.cta.position}}">
          <a href={{data.cta.href}} class="{{data.cta.class}}">{{data.cta.text}}</a>
        </div>
      </div>
    </div>
  </div>
</div>