<div class="subscribe-line subscribe-line-image {% ifequal data.filter false}}no-filter{{/ifequal}} {{data.section-class}}" data-bg-style="{{data.background-image}}"  {% if data.id}}id="{{data.id}}"{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="text-center">
            <h2 class="h4 title {{data.title-class}}">{{data.title}}</h2>
            <p class="description {{description-class}}">
              {{{data.description}}}
            </p>
            <a href={{data.cta.href}} class="{{data.cta.class}}">
                {{data.cta.text}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>