<div class="subscribe-line subscribe-line-image {% ifequal include.data.filter false}}no-filter{{/ifequal}} {{ include.data.section-class}}" data-bg-style="{{ include.data.background-image}}"  {% if include.data.id %}id="{{ include.data.id}}"{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="text-center">
            <h2 class="h4 title {{ include.data.title-class}}">{{ include.data.title}}</h2>
            <p class="description {{description-class}}">
              {{ include.data.description}}
            </p>
            <a href={{ include.data.cta.href}} class="{{ include.data.cta.class}}">
                {{ include.data.cta.text}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>