<div class="pricing-3 section-image {{include.data.class}}" data-bg-style="{{ include.data.background-image }}" id="pricing-3">
  <div class="container">
    {% if include.data.header-section %}
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <h2 class="title">{{ include.data.title }}</h2>
        <div class="h4 description">{{ include.data.description}}</div>
        <div class="section-space"></div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      {% for item in include.data.items %}
      <div class="{{item.columnClass}}">
        <div class="card card-pricing" {% if item.background-color %}data-background-color="{{item.background-color}}" {% endif %}>
          <div class="card-body">
            <h3 class="h5 category">{{item.title}}</h3>
            <div class="h1 card-title">
              {{item.price}}
            </div>
            <ul>
              {% for i in item.items %}
              <li>{{i.title}}</li>
              {% endfor %}
            </ul>
            <a href="{{item.button.link}}" class="{{item.button.class}}">
              {{item.button.text}}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>