<div class="pricing-2" id="pricing-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">{{ include.data.title}}</h2>
          {% if include.data.description %}
          <div class="h4 description ">{{ include.data.description}}</div>
          {% endif %}
          <div class="section-space"></div>
        </div>
      </div>
      <div class="row">
        {% for item in include.data.items %}
        <div class="{{include.data.columnClass}}">
          <div class="card card-pricing {% if item.raised %}card-background card-raised{% else %}card-plain{% endif %}"{% if item.background-image %}data-bg-style="{{item.background-image}}"{% endif %}>
            <div class="card-body">
              <h3 class="h5 category">Enterprise</h3>
              <h1 class="card-title">
                <small>$</small>{{item.price}}</h1>
              <ul>
                {% for i in item.items %}
                <li>{{i.title}}</li>
                {% endfor %}
              </ul>
              <a href="{{item.button.link}}" class="btn {{item.button.class}} btn-round">
                {{item.button.text}}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>