<div class="pricing-2" id="pricing-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">{{ include.data.title}}</h2>
          {% if include.data.description}}
          <div class="h4 description ">{{ include.data.description}}</div>
          {% endif %}
          <div class="section-space"></div>
        </div>
      </div>
      <div class="row">
        {% for include.data.items}}
        <div class="{{../data.columnClass}}">
          <div class="card card-pricing {% if raised}}card-background card-raised{% else %}card-plain{% endif %}"{% if background-image}}data-bg-style="{{background-image}}"{% endif %}>
            <div class="card-body">
              <h3 class="h5 category">Enterprise</h3>
              <h1 class="card-title">
                <small>$</small>{{price}}</h1>
              <ul>
                {% for items}}
                <li>{{title}}</li>
                {% endfor %}
              </ul>
              <a href="{{button.link}}" class="btn {{button.class}} btn-round">
                {{button.text}}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>