---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/awesome-team/
---
{% include separators/separator.html text="awesome-team-1" %}
{% include awesome-team/awesome-team-1.html data=site.data.mocks.awesome-team.awesome-team-1 %}
{% include separators/separator.html text="awesome-team-3" %}
{% include awesome-team/awesome-team-3.html data=site.data.mocks.awesome-team.awesome-team-3 %}
{% include separators/separator.html text="awesome-team-5" %}
{% include awesome-team/awesome-team-5.html data=site.data.mocks.awesome-team.awesome-team-5 %}