---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/headers/
---
{% include separators/separator.html text="header-1" %}
{% include headers/header-1.html data=site.data.mocks.headers.header-1 %}
{% include separators/separator.html text="header-2" %}
{% include headers/header-2.html data=site.data.mocks.headers.header-2 %}
{% include separators/separator.html text="header-3" %}
{% include headers/header-3.html data=site.data.mocks.headers.header-3 %}
{% include separators/separator.html text="header-4" %}
{% include headers/header-4.html data=site.data.mocks.headers.header-4 %}
{% include separators/separator.html text="header-5" %}
{% include headers/header-5.html data=site.data.mocks.headers.header-5 %}