<div class="team-3 section-image {{include.data.class}}" data-bg-style="{{include.data.background-image}}"  {% if include.data.id %}id="{{include.data.id}}"{% endif %}>
  <div class="container">
    {% if include.data.header-section %}
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">{{include.data.title}}</h2>
        <div class="h4 description">{{include.data.description}}</div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      {% for item in include.data.items %}
      <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
        <div class="card card-profile">
          <div class="row">
            <div class="col-md-5">
              <div class="card-image">
                <a href="{{item.link}}">
                  <img class="img" data-img-src="{{item.image.src}}" alt="{{item.image.alt}}" title="{{item.image.title}}" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h3 class="card-title">{{item.title}}</h3>
                <div class="h6 category text-primary">{{item.subtitle}}</div>
                <p class="card-description">
                  {{item.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>