---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/awesome-projects/
---
{% include separators/separator.html text="awesome-projects-1" %}
{% include awesome-projects/awesome-projects-1.html data=site.data.mocks.awesome-projects.awesome-projects-1 %}
{% include separators/separator.html text="awesome-projects-2" %}
{% include awesome-projects/awesome-projects-2.html data=site.data.mocks.awesome-projects.awesome-projects-2 %}
{% include separators/separator.html text="awesome-projects-3" %}
{% include awesome-projects/awesome-projects-3.html data=site.data.mocks.awesome-projects.awesome-projects-3 %}
{% include separators/separator.html text="awesome-projects-4" %}
{% include awesome-projects/awesome-projects-4.html data=site.data.mocks.awesome-projects.awesome-projects-4 %}
{% include separators/separator.html text="awesome-projects-5" %}
{% include awesome-projects/awesome-projects-5.html data=site.data.mocks.awesome-projects.awesome-projects-5 %}