<div class="blogs-2" id="blogs-2">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        {% if include.data.header-section %}
        <h2 class="title">Latest Blogposts 2</h2>
        {% endif %}
        <br />
        <div class="row justify-content-center">
          {% for item in include.data.first-row %}
          <div class="col-md-5">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a href="{{ item.link }}">
                  <img class="img img-raised rounded" data-img-src="{{ item.image.src }}" alt="{{ item.image.alt }}" title="{{ item.image.title }}"/>
                </a>
              </div>
              <div class="card-body">
                <div class="h6 category {{ item.class}}">{{ item.subtitle }}</div>
                <h3 class="h5 card-title">
                  <a href="{{ item.link }}">{{ item.title }}</a>
                </h3>
                <p class="card-description">
                  {{ item.description}}
                  <a href="{{ item.link-more }}">{{ item.more-title }}</a>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row justify-content-center">
          {% for item in include.data.second-row %}
          <div class="col-md-5">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a href="{{ item.link }}">
                  <img class="img img-raised rounded" data-img-src="{{ item.image.src }}" alt="{{ item.image.alt }}" title="{{ item.image.title }}"/>
                </a>
              </div>
              <div class="card-body">
                <div class="h6 category {{ item.class }}">{{ item.subtitle}}</div>
                <h3 class="h5 card-title">
                  <a href="{{ item.link }}">{{ item.title}}</a>
                </h3>
                <p class="card-description">
                  {{ item.description }}
                  <a href="{{ item.link-more }}">{{ item.more-title }}</a>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>