<div class="blogs-1 {{include.data.class}}" id="blogs-1">
  <div class="container">
    <div class="row">
      {% if include.data.header-section %}
      <h2 class="title">{{include.data.title}}</h2>
      {% endif %}
      <div class="col-md-10 ml-auto mr-auto">
        <br />
        <div class="card card-plain card-blog">
          {% for item in include.data.first-row %}
          <div class="row">
            <div class="col-md-5">
              <div class="card-image">
                <img class="img img-raised rounded" data-img-src="{{ item.image.src}}" alt="{{ item.image.alt}}" title="{{ item.image.title}}" />
              </div>
            </div>
            <div class="col-md-7">
              <div class="h6 category {{ item.class}}">{{ item.subtitle }}</div>
              <h3 class="card-title">
                <a href="{{ item.link}}">{{ item.title }}</a>
              </h3>
              <p class="card-description">
                {{ item.description}}
                <a href="{{ item.link}}">{{ item.more-title }} </a>
              </p>
              <p class="{{ item.author}}">
                by
                <a href="{{ item.link-author}}">
                  <b>{{ item.author }}</b>
                </a>, 2 days ago
                </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="card card-plain card-blog">
          {% for item in include.data.second-row %}
          <div class="row">
            <div class="col-md-7">
              <div class="h6 category {{ item.class}}">
                <i class="now-ui-icons now-ui-icons {{ item.icon}}"></i> {{ item.subtitle }}
              </div>
              <h3 class="card-title">
                <a href="{{ item.link}}">{{ item.title }}</a>
              </h3>
              <p class="card-description">
                {{ item.description }}
                <a href="{{ item.link-more}}"> {{ item.more-title }} </a>
              </p>
              <p class="author">
                by
                <a href="{{ item.link}}">
                  <b>{{ item.author }}</b>
                </a>, 5 days ago
                </a>
            </div>
            <div class="col-md-5">
              <div class="card-image">
                <img class="img img-raised rounded" data-img-src="{{ item.image.src}}" alt="{{ item.image.alt}}" title="{{ item.image.title}}" />
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>