<div class="contactus-1 contactus-3 section-image" data-bg-style="{{ include.data.image}}"  {% if include.data.id %}id="{{ include.data.id}}"{% endif %}>
    <div class="container">
      <div class="row">
          {% if include.data.header-section %}        
          <div class="{{ include.data.contentleft}}">
            <h2 class="title">{{ include.data.title}}</h2>
            <div class="h4 description {{ include.data.description-class}}">{{ include.data.description}}</div>
          </div>
          {% endif %}
          {% for item in include.data.content %}
          <div class="{{ item.class}}">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="now-ui-icons {{ item.icon}}"></i>
              </div>
              <div class="description">
                <h3 class="h4 info-title">{{ item.title}}</h3>
                <p class="description"> {{ item.{description}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>