---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/pricing/
---
{% include separators/separator.html text="pricing-1" %}
{% include pricing/pricing-1.html data=site.data.mocks.pricing.pricing-1 %}
{% include separators/separator.html text="pricing-2" %}
{% include pricing/pricing-2.html data=site.data.mocks.pricing.pricing-2 %}
{% include separators/separator.html text="pricing-3" %}
{% include pricing/pricing-3.html data=site.data.mocks.pricing.pricing-3 %}
{% include separators/separator.html text="pricing-4" %}
{% include pricing/pricing-4.html data=site.data.mocks.pricing.pricing-4 %}
{% include separators/separator.html text="pricing-5" %}
{% include pricing/pricing-5.html data=site.data.mocks.pricing.pricing-5 %}