<div class="services-1"  {% if data.id}}id="{{data.id}}"{% endif %}>
    <div class="{{data.section-class}}">
        <div class="row">
            <div class="{{data.block-class}}">
                <div class="services-1-block {{data.title-block-class}} p-5 -vertical-center">
                    <h2  class="h6 title text-uppercase m-0 p-0 -vertical-center">{{{data.title}}}</h2>
                    <span class="h4 subtitle m-0">{{data.subtitle}}</span>
                </div>
            </div>
            {% for data.items}}
            <div class="{{../data.block-class}}">
                <div class="services-1-block text-center p-5">
                    <div class="icon mt-4">
                        <i class="now-ui-icons {{icon-color}} {% if icon}}{{icon}}{% endif %}"></i>
                    </div>
                    <h3 class="h4 info-title {{title-class}}">{{title}}</h3>
                    <p class="description px-4 {{subtitle-class}}">{{subtitle}}</p>                
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>