<div class="testimonials-2 {{ include.data.section-class}}" data-bg-style="{{ include.data.background-image}}"  {% if include.data.id}}id="{{ include.data.id}}"{% endif %}>
        <div class="container">
          <div class="row">
            <div class="{{ include.data.columnClass}}">
              <div id="carouselExampleIndicators2" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                {% for include.data.items}}
                  <div class="carousel-item {{status}} justify-content-center">
                    <div class="card card-testimonial card-plain">
                      <div class="card-avatar">
                        <a href="{{link}}">
                          <img class="img img-raised rounded" data-img-src="{{image.src}}" alt="{{image.alt}}" title="{{image.title}}" />
                        </a>
                      </div>
                      <div class="card-body">
                        <div class="h5 card-description">{{description}}
                        </div>
                        <div class="h3 card-title">{{title}}</div>
                        <div class="card-footer">
                          <div class="h6 category text-primary">{{subtitle}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="now-ui-icons arrows-1_minimal-left"></i>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="now-ui-icons arrows-1_minimal-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>