.h1-responsive{
    @media screen and (min-width: 991px){
        font-size: 6em;
    }
}
.pt-6{
    padding-top: 5rem!important;
}
.mt-6{
    margin-top: 5rem!important;
}
.separator{
    &:after{
        content: "";
        width: 200px;
        height: 2px;
        background-color: $primary-color;
        display: block;
        margin: 15px auto;

    }
}
.bg-cover{
    background-size: cover;
}
.bg-overlay{
    @include bg-overlay();
}
.bg-overlay-white{
    @include bg-overlay(#ffffff);
}