<div class="features-10 section-image {{include.data.class}} {% if include.data.filter %}no-filter{% endif %}" data-bg-style="{{ include.data.background-image }}"  {% if include.data.id %}id="{{ include.data.id}}"{% endif %}>
  {% if include.data.header-section %}
  <div class="container-fluid">
    <div class="{{ include.data.header-section.class }}">
      <h2 class="title">{{ include.data.title }}</h2>
      <div class="h4 description">{{ include.data.description }}</div>
    </div>
  </div>
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="{{ include.data.right-items}}">
        <div class="col-sm-12">
          {% for item in include.data.items %}
          <div class="info info-horizontal {{item.item-class}}">
            <div class="icon icon-primary">
              <i class="now-ui-icons {{item.icon-class}}"></i>
            </div>
            <div class="description">
              <h3 class="h5 info-title {{item.title-class}}">{{item.title}}</h3>
              <p class="description">{{item.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>