<div class="features-7 section-image " data-bg-style="{{ include.data.background-image}}"  {% if include.data.id}}id="{{ include.data.id}}"{% endif %}>
  {% if include.data.header-section}}
  <div class="container">
    <div class="{{ include.data.header-section.class}}">
      <h2 class="title">{{ include.data.title}}</h2>
      <div class="h4 description">{{ include.data.description}}</div>
    </div>
  </div>
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="col-sm-12">
          {% for include.data.items %}
          <div class="info info-horizontal">
            <div class="icon">
              <i class="now-ui-icons {{icon-class}}"></i>
            </div>
            <div class="description">
              <h3 class="h5 info-title">{{title}}</h3>
              <p class="description">{{description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-container">
          <img data-img-src="{{ include.data.image.src}}" alt="{{ include.data.image.alt}}" title="{{ include.data.image.title}}">
        </div>
      </div>
    </div>
  </div>
</div>