<div class="features-4 {{include.data.class}}" {% if include.data.id %}id="{{ include.data.id }}"{% endif %}>  
  <div class="container">
    {% if include.data.have-title%}
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{ include.data.title}}</h2>
          <div class="separator"></div>
          <div class="h4 description">{{ include.data.description}}</div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      {% for item in include.data.items %}
      <div class="{{ include.data.items-class }}">
        <div class="card card-background card-raised" data-background-color data-bg-style="{{item.background-image}}">
          <div class="info">
            <div class="icon {% if item.icon-color %}{{item.icon-color}}{% else %}icon-white{% endif %}">
              <i class="now-ui-icons {% if icon-type %}{{item.icon-type}}{% else %}business_bulb-63{% endif %}"></i>
            </div>
            <div class="description">
              <h3 class="h4 info-title">{{item.title}}</h3>
              <p>{{item.description}}</p>
              <a href="{{item.link.href}}" class="ml-3">{{item.link.text}}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>