---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/footers/
---
{% include separators/separator.html text="footer-1" %}
{% include footers/footer-1.html data=site.data.mocks.footers.footer-1 %}
{% include separators/separator.html text="footer-2" %}
{% include footers/footer-2.html data=site.data.mocks.footers.footer-2 %}
{% include separators/separator.html text="footer-3" %}
{% include footers/footer-3.html data=site.data.mocks.footers.footer-3 %}
{% include separators/separator.html text="footer-4" %}
{% include footers/footer-4.html data=site.data.mocks.footers.footer-4 %}
{% include separators/separator.html text="footer-5" %}
{% include footers/footer-5.html data=site.data.mocks.footers.footer-5 %}
{% include separators/separator.html text="footer-6" %}
{% include footers/footer-6.html data=site.data.mocks.footers.footer-6 %}