<footer class="footer footer-big {% if include.data.footer-color=='white' %}footer-white{% endif %}" {% if include.data.footer-color=='black' %}data-background-color="black"{% endif %}  {% if include.data.id %}id="{{ include.data.id}}"{% endif %}>
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="col-md-4">
                <h5>{{ include.data.col1.title}}</h5>
                {{ include.data.col1.description}}
              </div>
              <div class="col-md-4">
                <h5>{{ include.data.col2.title}}</h5>
                <div class="social-feed">
                    {% for item in include.data.col2.items %}
                    <div class="feed-line">
                        <i class="{{item.icon}}"></i>
                        <a href="{{item.href}}">
                        {{text}}
                        </a>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-4">
                <h5>{{ include.data.col3.title }}</h5>
                <div class="gallery-feed">
                  {% for item in include.data.col3.items %}
                  <img data-img-src="{{item.src}}" class="img img-raised rounded" alt="{{item.alt}}" />
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <hr />
          <ul class="pull-left">
            {% for item in include.data.links %}
            <li>
                <a href="//{{item.href}}">
                {{item.text}}
                </a>
            </li>
            {% endfor %}
          </ul>
          <div class="copyright pull-right">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear())
            </script> {{site.name}} All Rights Reserved.
          </div>
        </div>
      </footer>