<footer class="footer footer-white"  {% if include.data.id}}id="{{ include.data.id}}"{% endif %}>
        <div class="container">
          <a class="footer-brand" href="{{ include.data.navbrand.href}}">
            {% if include.data.navbrand.src}}
            <img data-img-src="{{ include.data.navbrand.src}}" width="30" height="30" alt="">
            {% endif %}
            {% if include.data.navbrand.text}}
            {{ include.data.navbrand.text}}
            {% endif %}
          </a>
          <ul class="pull-center">
            {% for include.data.links %}
            <li>
              <a href="{{href}}" class="nav-link">
                {{text}}
              </a>
            </li>
            {% endfor %}
          
          </ul>
          <ul class="social-buttons pull-right">
            {% for site.social %}
            <li>
              <a href="{{href}}" target="_blank" class="btn btn-icon btn-neutral">
                <i class="fab {{icon}}"></i>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </footer>