<footer class="footer footer-white footer-big"  {% if include.data.id %}id="{{ include.data.id}}"{% endif %}>
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="col-md-3">
                <a class="" href="//{{site.url}}">
                    {% if include.data.navbrand.src}}
                    <img data-img-src="{{ include.data.navbrand.src}}" width="30" height="30" alt="">
                    {% endif %}
                    {% if include.data.navbrand.text}}
                    <h5>{{ include.data.navbrand.text}}</h5>
                    {% endif %}
                </a>
                {{ include.data.col1.description}}
              </div>
              {% for include.data.cols %}
              <div class="{{class}}">
                <h5>{{title}}</h5>
                <ul class="links-vertical">
                    {% for items %}
                  <li>
                    <a href="{{href}}">
                      {{text}}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
              <div class="col-md-3">
                <h5>{{ include.data.newsletter.title}}</h5>
                {{ include.data.newsletter.description}}
                <form class="form form-newsletter" method="" action="">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="{{ include.data.newsletter.input.placeholder}}">
                  </div>
                  <button type="button" class="btn btn-primary btn-icon btn-round" name="button">
                    <i class="now-ui-icons ui-1_email-85"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <hr />
          <ul class="social-buttons">
            {% for site.social %}
            <li>
                <a href="{{href}}" target="_blank" class="btn btn-icon btn-neutral btn-round {{btn}} btn-lg">
                <i class="fab {{icon}}"></i>
                </a>
            </li>
            {% endfor %}
          </ul>
          <div class="copyright pull-center">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear())
            </script> {{site.name}} All Rights Reserved.
          </div>
        </div>
      </footer>