<div class="team-3 section-image" data-bg-style="{{data.background-image}}"  {% if data.id %}id="{{data.id}}"{% endif %}>
  <div class="container">
    {% if data.header-section %}
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">{{data.title}}</h2>
        <div class="h4 description">{{data.description}}</div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      {% for data.items}}
      <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
        <div class="card card-profile">
          <div class="row">
            <div class="col-md-5">
              <div class="card-image">
                <a href="{{link}}">
                  <img class="img" data-img-src="{{image.src}}" alt="{{image.alt}}" title="{{image.title}}" />
                </a>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <div class="h6 category text-primary">{{subtitle}}</div>
                <p class="card-description">
                  {{description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>