---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/blog-posts/
---
{% include separators/separator.html text="blogposts-1" %}
{% include blog-posts/blogposts-1.html data=site.data.mocks.blog-posts.blogposts-1 %}
{% include separators/separator.html text="blogposts-2" %}
{% include blog-posts/blogposts-2.html data=site.data.mocks.blog-posts.blogposts-2 %}
{% include separators/separator.html text="latest-blogspots-5" %}
{% include blog-posts/latest-blogspots-5.html data=site.data.mocks.blog-posts.latest-blogspots-5 %}