<div class="content-6 {{include.data.class}}"{% if include.data.id %} id="{{ include.data.id}}"{% endif %}>
    <div class="container">
        <div class="row">
           <div class="content-6_wrapper">
              <div class="content-6_image-wrapper">
                  <img src="{{include.data.background-image}}" alt="">
              </div>
              <div class="content-6_text-wrapper">
                  <div class="content-6_text">
                        <div class="content-6_text-content">
                            <span class="text-uppercase">Por que nosotros?</span>
                            <h2 class="text-uppercase mb-3 mt-2 font-weight-bold text-primary">Tomate tu cafe gratis</h2>
                            <p class="font-weight-bold h5">The study of your business, public and competition gives us a sense of who your potential customers The study of your business.</p>
                            <p>The study of your business, public and competition gives us a sense of who your potential customers The study of your business. 
                               The study of your business, public and competition gives us a sense of who your potential customers The study of your business.
                               The study of your business, public and competition gives us a sense of who your potential customers The study of your business.The study of your business, public and competition gives us a sense of who your potential customers The study of your business.
                            </p>
                        </div>
                  </div>
              </div>
           </div> 
        </div>
    </div>
</div>