<div class="content-5 {{include.data.class}}"{% if include.data.id %} id="{{ include.data.id}}"{% endif %}>
    <div class="container">
        <div class="row">
            {% for item in include.data.items %}
            <div class="{{ include.data.columnClass }}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="content-counter content-counter-{{ forloop.index }}">
                            <h2 class="title{% if item.title-class %} {{item.title-class}}{% endif %}">{{ item.title }}</h2>
                            {% if item.subtitle %}
                            <div class="{{ item.subtitle-class }}">{{ item.subtitle}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="{{item.description-class}}">{{ item.description }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>