<div class="content-8 {{include.data.class}}" {% if include.data.id %} id="{{ include.data.id}}" {% endif %}>
    <div class="container">
        <div class="row">
            <div class="content-8_wrapper col-sm-12 d-flex ">
                <div class="content-8_text bg-secondary p-5 rounded-left pb-3">
                    <h2 class="title pt-0 mb-0 h3 deco text-uppercase mb-4">Por que nosotros?</h2>
                    <p>The study of your business, public and competition gives us a sense of who your potential
                        customers The study of your business.
                    </p>
                    <p>
                        <a href="#" class="btn btn-round btn-primary font-weight-bold text-uppercase btn-md text-center">Conoce mas</a>
                    </p>
                </div>
                <div class="content-8_image">
                    <div class="content-8_image-wrapper">
                        <img src="{{include.data.background-image}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>