<div class="content-7 {{include.data.class}}" {% if include.data.id %} id="{{ include.data.id}}" {% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content-7_wrapper">
                    <div class="content-7_image-wrapper">
                        <div class="content-7_image">
                            <img src="{{include.data.background-image}}" alt="">
                        </div>
                    </div>
                    <div class="content-7_text-wrapper">
                        <div class="content-7_text">
                            <div class="content-7_text-content">
                                <span class="text-uppercase">Por que nosotros?</span>
                                <h2 class="text-uppercase mb-3 mt-2 font-weight-bold text-primary">Tomate tu cafe gratis</h2>
                                <p class="font-weight-bold h5">The study of your business, public and competition gives us a sense of who your potential
                                    customers The study of your business.</p>
                                <p>The study of your business, public and competition gives us a sense of who your potential
                                    customers The study of your business. The study of your business, public and competition
                                    gives us a sense of who your potential customers The study of your business. The study
                                    of your business, public and competition gives us a sense of who your potential customers
                                    The study of your business.The study of your business, public and competition gives us
                                    a sense of who your potential customers The study of your business.
                                </p>
                                <p>
                                    <a href="#" class="btn btn-round btn-primary font-weight-bold text-uppercase btn-md text-center">Conoce mas</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>