<div class="content-4"{% if include.data.id %} id="{{ include.data.id}}"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title{% if include.data.title-class %} {{include.data.title-class}}{% endif %}">{{ include.data.title }}</h2>
                {% if include.data.subtitle %}
                <div class="{{ include.data.subtitle-class }}">{{ include.data.subtitle}}</div>
                {% endif %}
            </div>
            <div class="col-12">
                <div class="{{include.data.description-class}}">{{ include.data.description }}</div>
            </div>
        </div>
    </div>
</div>