%card-profile{
    margin-top: 60px;
    text-align: center;

    .card-body .card-title{
        margin-top: 0;
    }

     [class*=col-]{
        .card-description{
            margin-bottom: 0;

            & + .card-footer{
                margin-top: 8px;
            }
        }


     }

    .card-avatar{
        max-width: 130px;
        max-height: 130px;
        margin: -60px auto 0;

        img{
            border-radius: 50% !important;
        }

        & + .card-body{
            margin-top: 15px;
        }
        &-small{
            max-width: 100px;
            max-height: 100px;
        }
        &-extra-small{
            max-width: 60px;
            max-height: 60px;
            margin: -35px auto 0;
        }
    }

    &.card-plain{
        .card-avatar{
            margin-top: 0;
        }
    }
    .card-body{
        .card-avatar{
            margin: 0 auto 30px;
        }
    }
}

.card-profile{
    @extend %card-profile;
    &-gay{
        border-radius: 22% 0;
        box-shadow: 0px 5px 25px 0px rgba($primary-color, 0.15);
    }
    &-gay-2{
        border-radius: 20% 20% 20% 0;
        box-shadow: 0px 5px 25px 0px rgba($primary-color, 0.15);
        background-size: cover;    
        .nc-icon-ul{
            margin-top: 1rem;
            margin-left: 1.342857em;
            > li{
                >.now-ui-icons{
                    &.circle{
                        padding: 0.20em;
                        top: 0.409524em;
                        left: -1.204762em;
                        background-color: $brand-primary;
                    }
                }
            }
        }
       
    }
    .features-11 &{
        text-align: left;
        .card-body{
            padding: 2.5rem 2rem;
        }
    }
}
