---
layout: default.1
metas:
    title: "Page title asdasd"
    description: "long desriptoin for decriscj sfd asdasd"
    page: 
        - "data-article.json"
        - "data-corporation.json"
permalink: /mocks/subscribe/
---
{% include separators/separator.html text="subscribe-1" %}
{% include subscribe/subscribe-1.html data=site.data.mocks.subscribe.subscribe-1 %}
{% include separators/separator.html text="subscribe-2" %}
{% include subscribe/subscribe-2.html data=site.data.mocks.subscribe.subscribe-2 %}
{% include separators/separator.html text="subscribe-3" %}
{% include subscribe/subscribe-3.html data=site.data.mocks.subscribe.subscribe-3 %}